<div class="modal-content">
  <span class="close cursor" (click)="closeModal()">&times;</span>
  <div [ngSwitch]="mediaType"> 
    <div class="center" *ngIf="showSpinner">
      <mat-spinner color="accent"></mat-spinner>
    </div> 
   <img *ngSwitchCase="'photo'" #myPhoto  class="fit" />   
    <div *ngSwitchCase="'video'"  class="video-fit"  >
      <mat-video src="{{videoUrl}}" ></mat-video>
    </div>
    
    

  </div>    
    <!-- Next/previous controls -->
    <!-- https://www.w3schools.com/howto/howto_js_lightbox.asp -->
    <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
    <a class="next" (click)="plusSlides(1)">&#10095;</a>
</div>
 

