
.example-sidenav {
    padding: 10px;
  }

.example-sidenav-content { 
    height: 100%; 
    min-height: 850px;
    padding-left: 30px; // for the drawer expand bar
}
  
#menuToggler{writing-mode: vertical-lr;background:rgb(125, 119, 133);width: 20px; height: 100%;left: 0;position: absolute;top: 0;}