<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <app-folder-tree (selectionChanged)='selectionChanged($event)'></app-folder-tree>
  </mat-drawer>
  <div id='menuToggler' (click)="drawer.toggle()"> 
  </div> 
  <div class="example-sidenav-content"> 
    <mat-form-field>
      <mat-label>filter by tags</mat-label>
      <input matInput [(ngModel)]="searchKey" (keydown)="onKeydown($event)">
    </mat-form-field>
    <button style="margin-left: 10px;" mat-raised-button (click)="onGoClick()">Go!</button>  
    <button style="margin-left: 10px;" mat-raised-button  (click)="markPrivate()"  *ngIf="loggedIn" >Mark Selected folder(s) Private</button>
    <button style="margin-left: 10px;" mat-raised-button  (click)="markPublic()"  *ngIf="loggedIn" >Mark Selected folder(s) Public</button>
    <app-photo-list [searchKey]="searchKey" [paths]="paths"></app-photo-list>
  </div> 
</mat-drawer-container>