<mat-form-field>
  <mat-label>filter by tags</mat-label>
  <input matInput [(ngModel)]="searchKey" (keydown)="onKeydown($event)">
</mat-form-field>
<button style="margin-left: 10px;" mat-raised-button (click)="onGoClick()">Go!</button> 

<div *ngIf="totalItems">
  <jw-pagination [totalItems]="totalItems" [currentPage]="currentPage" [pageSize]="pageSize" (changePage)="onChangePage($event)"></jw-pagination>
  <div>
    <mat-grid-list cols="4" rowHeight="200px">
      <mat-grid-tile  *ngFor="let photo of pageOfItems; index as i;"> 
        <div class="border">
          <span class="helper"></span>
          <img src="data:image/jpeg;base64,{{photo.thumbnail}}"   
          matTooltip='Tags: {{photo.tags}}&#13;Date Taken: {{photo.dateTaken}}'
          matTooltipClass="allow-cr" 
          (click)="onClickThumb(i)"
          />
      </div>  
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <jw-pagination [totalItems]="totalItems" [currentPage]="currentPage" [pageSize]="pageSize"  (changePage)="onChangePage($event)"></jw-pagination>
</div>

